@charset "UTF-8";
.sample {
  width: 400px; }

div {
  border-style: groove; }

.fRowNowrap {
  display: flex;
  flex-flow: row nowrap;
  background-color: #F8D2CF;
  justify-content: center; }

.fRowWrap {
  display: flex;
  flex-flow: row wrap;
  background-color: #BEDBD9;
  justify-content: center; }

.fColumnNowrap {
  display: flex;
  flex-flow: column nowrap;
  background-color: #D6ECCB;
  justify-content: center; }

/*!
 <div .問題文エリア>
                <div .問題文セレクトボックス>
                    セレクトボックス + 表示ボタン</div>
                <div .英文レコード>
                    ブロック毎に表示。編集不可 + 戻るボタン</div>
                <div .日本文レコード>
                    ブロック毎に表示。編集不可</div>
                </div>
            <div .モデル単語エリア>
                <div .選択単語エリア>
                    <div .英単語>英単語</div>
                    <div .日本語>日本語</div>
                    <div .属性>選択した属性</div>
                    </div>
                </div>
                <div .属性エリア>
                    ここは属性チェックボックスが並ぶ</div>
            <div .登録単語エリア>
                <div .選択単語エリア>
                    <div .英単語>英単語</div>
                    <div .日本語>日本語</div>
                    <div .属性>選択した属性</div>
                    </div>
                </div>
                <div .属性エリア>
                    ここは属性チェックボックスが並ぶ</div>
            
            <div .サンプル></div>

*/
